{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{csrf_token}}">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

    <title>{% block title %}{% trans "Light Forum" %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/codemirror.css">
    <link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/pygments-css/borland.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% trans "Light Forum" %}</a>
        </div>
        <div class="navbar-collapse collapse">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <div class="clearfix">
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        </div>
      </div>
      <div class="nosidebar"></div>
      <hr>
      <footer>
        <p class="text-center">&copy; Company 2013</p>
      </footer>

    </div>
    <script data-main="{{STATIC_URL}}js/main-built" src="{{STATIC_URL}}js/libs/requirejs/require.js"></script>
  </body>
</html>

